@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@variant dark (&:where(.dark, .dark *));

@layer utilities {
    .prose :not(pre) > code {
        background-color: rgb(229 231 235);
        border-radius: 0.5rem;
        padding: 0.125rem 0.25rem;
    }

    .dark .prose :not(pre) > code {
        background-color: rgb(75 85 99);
    }

    .prose code::before,
    .prose code::after {
        content: none;
    }

    .prose blockquote p:first-of-type::before,
    .prose blockquote p:last-of-type::after {
        content: none;
    }
}
@layer components {
    .toc {
        @apply border border-slate-200/50 dark:border-white/10 p-4 md:px-8 md:py-6 rounded-xs
           bg-slate-50/30 dark:bg-white/5;
        a {
            text-decoration: none !important;
        }
    }
}
